.mosaic-grid-wrapper {
  display: grid;
  width: 300px;
  height: 300px;
  overflow: auto;
  aspect-ratio: 1;
  margin: 0 auto;
  background-color: slategrey;
  background-attachment: fixed;
  background-size: 300px;
  background-position: 50% 25%;
  background-repeat: no-repeat;
  border-radius: 0.2em;
  overflow: hidden;
  /* border: 1px black solid */
}

.mosaic-cell-wrapper {
  position: relative;
  z-index: 2;

  cursor: pointer;
  transition: transform 0.4s;
}

.mosaic-cell {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 50% 25%;
  background-size: 300px;
  height: 100%;
  width: 100%;
}

.mosaic-cell-img {
  width: 100%;
  opacity: 0.4;
  height: 100%;

  mix-blend-mode: multiply;
  transition: 0.3s;
  transition-delay: 0.5s;
  position: relative;
  z-index: 1;
}

.mosaic-cell-wrapper:hover {
  transform: scale(1.1);
  z-index: 3;
}

.mosaic-cell-wrapper:hover .mosaic-cell-img {
  opacity: 1;
  mix-blend-mode: normal;
  transition-delay: 0s;
  border-radius: 0.1em;
  /* transform: scale(1.1); */
  z-index: 4;
}
/* ------------------ */
